* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
}

.nav {
  height: 70px;
  display: flex;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  padding: 20px 36px;
}

.nav--logo {
  max-height: 25.35px;
  max-width: 100px;
}

.hero {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.hero--image {
  max-height: 232px;
  align-self: center;
}

.hero > h1 {
  /* margin: 30px; */
  margin-bottom: 16px;
}

.hero > p {
  /* margin: 30px; */
  margin-top: 0;
  color: #222222;
  max-width: 320px;
}